<div id="app">
    <nav class="navbar navbar-light bg-light fixed-top"
         v-if="cart.length>0">
        <div class="navbar-text ml-auto">
            <b>cart:</b>
            <span>{{cart.length}}</span>
        </div>
    </nav>

    <div class="form-inline mr-auto mt-5">
        <label class="font-weight-bold mr-2" for="formMax">max</label>
        <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
    </div>

    <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
        <div class="row d-flex mb-3 align-items-center"
             v-for="item in products"
             v-if="item.price<=Number(maximum)">
            <div class="col-1 m-auto">
                <button class="btn btn-info"
                        v-on:click="addItem(item)">+</button>
            </div>
                
        </div>
    <div>
        <img>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="data.js"></script>